{% extends "network/layout.html" %}

{% block body %}

<div class="login-container">
    <h2 class="login-title">Sign In to ChitChat</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-elements" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-elements" type="password" name="password" placeholder="Password">
        </div>
        <input class="login-btn" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
</div>
{% endblock %}